<!-- <div [class.test]="currentUrl === '/main'">lorem ipsum</div> -->

<div
  class="app-header d-md-flex pt-5 pb-5 justify-content-between"
  color-on-scroll="100"
  id="navbar-top"
  [class.color-invert]="currentUrl === '/main'"
>
  <div class="inner-container">
    <div class="row justify-content-between">
      <figure class="app-header__logo"></figure>

      <div class="app-header__middle-container col-md-7">
        <div class="row">
          <div class="app-header__map col-md-5">
            <span>{{ getRes("adress") | async }}</span>
            <a href="">{{ getRes("showMap") | async }}</a>
          </div>
          <div class="app-header__phone-number col-md-3">
            <a class="cta wow slideInUp" href="tel:{{ phoneNumber }}">{{
              phoneNumber
            }}</a>
          </div>
          <div [formGroup]="form" class="col-md-2">
            <div
              formControlName="lang"
              btnRadioGroup
              class="app-header__language d-flex justify-content-around"
            >
              <label
                btnRadio="{{ enumLang.RUSSIAN }}"
                class="btn btn-primary"
                tabindex="0"
                role="button"
                >РУ</label
              >
              <label
                btnRadio="{{ enumLang.UKRAINIAN }}"
                class="btn btn-primary"
                tabindex="0"
                role="button"
                >УК</label
              >
              <label
                btnRadio="{{ enumLang.ENGLISH }}"
                class="btn btn-primary"
                tabindex="0"
                role="button"
                >EN</label
              >
            </div>
          </div>
          <div class="app-header__nav-menu col-md-2">
            <!-- Nav menu -->
            <div
              type="button"
              class="button-nav"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              <label
                class="button-nav__toggle-btn toggle-btn toggle-btn_cross"
                for="toggle"
              >
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal menu  -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <figure class="app-header__logo ml-5">
            <img src="../../assets/images/A136__logo-w.png" alt="A136" />
          </figure>
        </h5>
        <button
          type="button"
          class="close mr-5 m-0"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <nav>
          <ul class="app-header__list">
            <li *ngFor="let item of menu">
              <a
                class="app-header__list-item"
                [routerLink]="getRouter(item)"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                {{ item.name }}
              </a>
            </li>
            <!-- <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/main']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Main
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/about-complex']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                About complex
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/about-developer']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                About developer
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/bye-conditions']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Bye Condition
              </a>
            </li>

            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/documents']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Documents
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/contacts']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Contacts
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/ready-dim']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Ready dim
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/building-process']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Building process
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/select-flat']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Select flat
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/flats']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Flats
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/gallery']"
                aria-hidden="true"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                Gallery
              </a>
            </li>
            <li>
              <a
                class="app-header__list-item"
                [routerLink]="['/news-list']"
                routerLinkActive="router-link-active"
                aria-label="Close"
                data-dismiss="modal"
                type="button"
              >
                News
              </a>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
