<!-- @format -->

<!-- {{sss}} -->

<ul class="app-header__list">
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/main']"
			routerLinkActive="router-link-active"
		>
			Main
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/about_complex']"
			routerLinkActive="router-link-active"
		>
			About complex
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/about_developer']"
			routerLinkActive="router-link-active"
		>
			About developer
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/bye_conditions']"
			routerLinkActive="router-link-active"
		>
			Bye Condition
		</a>
	</li>

	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/documents']"
			routerLinkActive="router-link-active"
		>
			Documents
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/contacts']"
			routerLinkActive="router-link-active"
		>
			Contacts
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/ready_dim']"
			routerLinkActive="router-link-active"
		>
			Ready dim
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/building_process']"
			routerLinkActive="router-link-active"
		>
			Building process
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/select_flat']"
			routerLinkActive="router-link-active"
		>
			Select flat
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/flats']"
			routerLinkActive="router-link-active"
		>
			Flats
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/gallery']"
			routerLinkActive="router-link-active"
		>
			Gallery
		</a>
	</li>
	<li>
		<a
			class="app-header__list-item"
			[routerLink]="['/news']"
			routerLinkActive="router-link-active"
		>
			News
		</a>
	</li>
</ul>
