<!-- @format -->

<!-- {{sss}} -->

<div class="app-hero">
	<div class="app-header">
		<figure class="app-header__logo">
			<img src="../../assets/images/A136__logo-w.png" alt="A136" />
		</figure>

		<div class="app-header__map">
			<div class="app-header-container">
				<span>{{ sityMap }}</span>
				<a href="">{{ showMap }}</a>
			</div>
			<div class="button-wrap oh-desktop">
				<a class="cta wow slideInUp" href="tel:{{ phoneNumber }}">{{
					phoneNumber
				}}</a>
			</div>
		</div>

		<div class="app-header__nav-menu">
			<!-- Nav menu -->

			<input type="checkbox" id="toggle" style="display:none;" />
			<label class="toggle-btn toggle-btn__cross" for="toggle">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</label>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact me</a></li>
				</ul>
			</nav>

			<ul class="app-header__list">
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/main']"
						routerLinkActive="router-link-active"
					>
						Main
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/about_complex']"
						routerLinkActive="router-link-active"
					>
						About complex
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/about_developer']"
						routerLinkActive="router-link-active"
					>
						About developer
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/bye_conditions']"
						routerLinkActive="router-link-active"
					>
						Bye Condition
					</a>
				</li>

				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/documents']"
						routerLinkActive="router-link-active"
					>
						Documents
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/contacts']"
						routerLinkActive="router-link-active"
					>
						Contacts
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/ready_dim']"
						routerLinkActive="router-link-active"
					>
						Ready dim
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/building_process']"
						routerLinkActive="router-link-active"
					>
						Building process
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/select_flat']"
						routerLinkActive="router-link-active"
					>
						Select flat
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/flats']"
						routerLinkActive="router-link-active"
					>
						Flats
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/gallery']"
						routerLinkActive="router-link-active"
					>
						Gallery
					</a>
				</li>
				<li>
					<a
						class="app-header__list-item"
						[routerLink]="['/news']"
						routerLinkActive="router-link-active"
					>
						News
					</a>
				</li>
			</ul>
		</div>
	</div>

	<h1 class="app-hero__h1">
		The world’s most advanced thermal
	</h1>
	<a href="" class="linkTo cta wow slideInUp link">{{ linkToSecondSection }}</a>
	<ul class="app-hero__list-social">
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Instagram</a></li>
	</ul>
	<div class="app-hero__rectangle"></div>
	<a href="#" class="app-hero__watch-block">
		<span>{{ watchHouse }}</span>
	</a>
</div>
