@import "../../styles.scss";

/************************************************************************************************
                                      HEADER SECTION
*************************************************************************************************/

.header-container {
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 4;
}

.sticky-header {
  background: rgba(0, 0, 0, 0.3);
}

.navbar-toggler {
  z-index: 999999;
}

.app-header {
  z-index: 99;
  padding-bottom: 35px;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $lightGray;

  &__logo-container {
    @include for-tablet-portrait {
      width: 35vw;
    }

    // width: 35vw;
  }

  &__row {
    display: flex;
    color: $w-color;
    font-size: 14px;
    justify-content: space-between;
    padding: 0px;

    @include for-tablet-portrait {
      width: 65%;
    }

    @include for-phone(425) {
      width: auto;
    }

    a {
      color: $w-color;
    }
  }

  &__container {
    display: flex;
  }

  &.color-invert {
    .app-header {
      &__logo {
        width: 80px;
        height: 80px;
        background: url("../../assets/images/A136__logo-w.png");
        background-repeat: no-repeat;
      }

      &__middle-container {
        color: $w-color;

        a {
          color: $w-color;
        }
      }

      &__language {
        .btn.btn-primary {
          color: $w-color;
        }
      }
    }

    .toggle-btn {
      .bar {
        background-color: $w-color;
      }
    }
  }

  &.sticky-header {
    .app-header {
      &__logo {
        width: 80px;
        background: url("../../assets/images/A136__logo-w.png") no-repeat;
      }

      &__middle-container {
        color: $w-color;

        a {
          color: $w-color;
        }
      }

      &__language {
        .btn.btn-primary {
          color: $w-color;
        }
      }

      &__nav-menu {
        .toggle-btn {
          .bar {
            background: $w-color;
          }
        }
      }
    }
  }

  &__language {
    .btn {
      &.btn-primary {
        background: transparent;
        border: none;
        padding-top: 0px;
        opacity: 0.5;
        box-shadow: none;
        color: $blackColor;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__item {
    color: $w-color;
    font-size: 35px;
    line-height: 50px;

    &:hover {
      text-decoration: none;
      color: $g-text;
    }
  }

  &__logo {
    width: 80px;
    background: url("../../assets/images/A136__logo.png") no-repeat;
  }

  &__item {
    font-weight: 900;
    font-size: 15px;
    color: $w-color !important;
  }

  &__middle-container {
    color: $blackColor;
    display: flex;
    position: relative;
    line-height: 22px;
    font-size: 17px;
    justify-content: space-evenly;

    a {
      color: $blackColor;
    }
  }

  &__map {
    display: flex;
    flex-direction: column;

    .app-header-container {
      display: flex;
      flex-direction: column;
    }

    @include for-tablet-portrait {
      display: none;
    }
  }

  &__selector {
    opacity: 0.5;
    transition: all 0.5s;

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  &__phone-number {
    @include for-phone(425) {
      display: none;
    }
  }

  &__language-switch {
    @include for-tablet-landscape {
      display: none;
    }
  }

  &__nav-menu {
    position: relative;
    z-index: 9;

    /* Navigation menu */

    nav {
      background-color: $darkGray;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: all 0.3s ease-in-out;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        width: 40%;
        text-align: center;
        align-items: center;
        justify-content: center;

        li {
          transform: translateY(50px);
          opacity: 0;

          a {
            display: block;
            font-size: 30px;
            line-height: 15px;
            text-decoration: none;
            padding: 10px 0;
            text-align: center;
            color: $w-color;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

            &:hover {
              color: $goldDarker;
            }
          }
        }
      }
    }

    .toggle-btn {
      display: block;
      z-index: 10;
      right: 10px;
      top: 10px;
      cursor: pointer;

      .bar {
        width: 30px;
        height: 2px;
        margin: 7px auto;
        background-color: $blackColor;
        transition: all 0.3s ease-in-out;
      }
    }

    #toggle:checked {
      & ~ nav {
        opacity: 1;
        visibility: visible;

        ul {
          // top:70px;

          li {
            transform: translateY(0px);
            opacity: 1;

            @for $i from 1 through 25 {
              $t: $i * 0.1;

              &:nth-child(#{$i}) {
                transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) #{$t}s;
              }
            }
          }
        }
      }
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      justify-content: space-around;

      span {
        width: 100%;
        height: 2px;
        background: $w-color;
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: none;
  }
}

.modal {
  padding-right: 0px !important;
}

.modal-header {
  border: none;
  z-index: 9;
  padding: 0;
  height: 80px;
  height: 140px;
  align-items: center;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0px;
  max-width: 100%;
}

.modal-content {
  height: 100%;
  border-radius: 0px;
  background-color: $menu-bg;

  ul {
    // top:70px;

    li {
      transform: translateY(0px);
      opacity: 1;

      @for $i from 1 through 25 {
        $t: $i * 0.1;

        &:nth-child(#{$i}) {
          transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) #{$t}s;
        }
      }
    }
  }
}

/* modal window */

.modal-close {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-weight: 100;
  text-transform: uppercase;
}

.close {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  opacity: 1;

  span {
    box-shadow: none;
    color: $w-color;
    font-weight: 100;
    font-size: 18px;
  }
}

nav {
  background-color: $darkGray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: all 0.3s ease-in-out;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;

    li {
      transform: translateY(50px);
      opacity: 0;

      a {
        display: block;
        font-size: 25px;
        line-height: 15px;
        text-decoration: none;
        padding: 10px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        font-family: "Pontano Sans", sans-serif;
        font-weight: 400;

        &:hover {
          color: $goldDarker;
        }
      }
    }
  }
}

.button-nav {
  -webkit-appearance: unset;
}
