<footer class="footer">
  <figure class="footer__img-container">
    <img src="../../assets/images/A136__logo-footer-white.png" alt="A136" />
  </figure>
  <div class="footer__container" style="display:none;">
    <div class="footer__column-container">
      <h3 class="footer__title">СВЯЖИТЕСЬ С НАМИ</h3>
      <div class="footer__content">
        <div class="footer__inner-container">
          <p>
            <span>АДРЕС</span>
            Г. КИЕВ, УЛ. АНТОНОВИЧА, 136-138
          </p>
          <p>
            <span>ОФИС ПРОДАЖ</span>
            Г. КИЕВ, УЛ. АНТОНОВИЧА 136-138
          </p>
        </div>
        <div class="footer__inner-container">
          <p>
            <span>АДРЕС</span>
            Г. КИЕВ, УЛ. АНТОНОВИЧА, 136-138
          </p>
          <p>
            <span>ОФИС ПРОДАЖ</span>
            Г. КИЕВ, УЛ. АНТОНОВИЧА 136-138
          </p>
        </div>
      </div>

      <div class="footer__social-container">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </div>
    </div>
    <div class="footer__column-container footer__column-container_second-width">
      <h3 class="footer__title">Карта сайта</h3>
      <div class="footer__content">
        <div class="footer__inner-container">
          <p>
            <a href="#">О КОМПЛЕКСЕ</a>
            <a href="#">ПЛАНИРОВКИ</a>
            <a href="#">3D-МОДЕЛЬ КОМПЛЕКСА</a>
            <a href="#">ГАЛЕРЕЯ</a>
            <a href="#">ХОД СТРОИТЕЛЬСТВА</a>
          </p>
        </div>
        <div class="footer__inner-container">
          <p>
            <a href="">НОВОСТИ</a>
            <a href="">ЗАСТРОЙЩИК</a>
            <a href="">ДОКУМЕНТАЦИЯ</a>
            <a href="">КОНТАКТЫ</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
