/* FONT VARIABLES */

$whiteColor: #fff;
$blackColor: #000;
$greyColor: #6C6C6C;
$gold: #B9B19D;
$gl-color: #71757E;


$uppercase: uppercase;


/* MAIN COLORS */

$lightGray: rgba(255, 255, 255, 0.2);
$darkGray: #232529;
$lightBlack: #A4A4A4;
$greyLightColor: #BDBDBD;


$pt-130:130px;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;