<section class="head-section">
  <div class="head-section__rectangle"></div>
  <div class="inner-container ">
    <div class="head-section__section-title row align-items-center">
      <h1 class="head-section__title title-h1">Условия покупки</h1>
      <div class="head-section__section-paragraph">
        <p class="head-section__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="full-image">
  <figure class="img-fluid full-image_preview"></figure>
</section>
<section>
  <img
    src="../../assets/images/Purchase-terms/A136__purchase-terms-hero.jpg"
    alt=""
  />
</section>
<section>
  <div class="purchase-terms__container inner-container pt-5">
    <h2 class="purchase-terms__title text-uppercase mb-4 ">
      Условия приобретения
    </h2>
    <br />
    <div id="sliderDouble" class="slider slider-primary"></div>
    <div class="purchase-terms__row row mb-5">
      <div class="purchase-terms purchase-terms_double-container paragraph">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings of the great
        explorer of the truth, the master-builder of human happiness.
      </div>
      <div
        class="purchase-terms__right-content purchase-terms_double-container paragraph"
      >
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings of the great
        explorer of the truth, the master-builder of human happiness.
      </div>
    </div>
  </div>
</section>
<section class="image-left mt-5">
  <img
    class="image-left__preview"
    src="./assets/images/About-us/A136__about-us__full-screen.jpg"
    alt=""
  />
</section>
<section class="content-left pt-5">
  <div class="content-left__container inner-container inner-container_right">
    <div class="content-left__text-container mt-5 mb-5">
      <div class="content-left__left-side">
        <span class="content-left__number desc">01</span>
        <p class="content-left__number-description">
          100% оплата стоимости квартиры
        </p>
      </div>
      <div class="content-left__right-side">
        <div class="content-left__arrow-container">&#62;&#62;</div>
        <div class="content-left__text paragraph">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. I must
          explain to you how all this mistaken idea of denouncing pleasure and
          praising pain was born and I will give you a complete account of the
          system, and expound the actual teachings of the great explorer of the
          truth, the master-builder of human happiness.
        </div>
      </div>
    </div>
    <div class="content-left__text-container mb-5">
      <div class="content-left__left-side">
        <span class="content-left__number desc">01</span>
        <p class="content-left__number-description">
          Рассрочка при покупке квартиры
        </p>
      </div>
      <div class="content-left__right-side">
        <div class="content-left__arrow-container">&#62;&#62;</div>
        <div class="content-left__text paragraph">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. I must
          explain to you how all this mistaken idea of denouncing pleasure and
          praising pain was born and I will give you a complete account of the
          system, and expound the actual teachings of the great explorer of the
          truth, the master-builder of human happiness.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="filter-section">
  <div class="filter-section__container inner-container">
    <h3 class="filter-section__title title-h1">Условия <br />приобретения</h3>
  </div>
  <div class="filter-section__centered-content">
    <div class="filter-section__left-container">
      <div class="filter-section__rs-container"></div>
    </div>
    <div class="filter-section__right-container"></div>
  </div>
</section>

<section class="right-content">
  <div class="right-content__container">
    <div class="right-content__payment">
      <div class="right-content__range desc">10 000.00</div>
      <div class="right-content__range-description paragraph">
        сумма рассрочки
      </div>
    </div>
    <div class="right-content__payment">
      <div class="right-content__range desc">10 000.00</div>
      <div class="right-content__range-description paragraph">
        среднемесячный платеж на протяжении 1 года
      </div>
    </div>
    <div class="right-content__payment">
      <div class="right-content__range desc">10 000.00</div>
      <div class="right-content__range-description paragraph">
        среднемесячный платеж по рассрочке
      </div>
    </div>
  </div>
  <div class="right-content__payment-notes paragraph mt-4 mb-5">
    *Среднемесячная сумма выплат является ориентировочной и указывается с целью
    ознакомления. Расходы на оформление кредита рассчитываются отдельно.
  </div>
</section>
<section class="property-slider">
  <div class="property-slider__right">
    <div class="property-slider__info">
      <div class="property-slider__title title-h1 text-uppercase">
        выбор квартиры и переход
      </div>
      <div
        class="property-slider__inner-content property-slider__inner-content_row"
      >
        <p class="property-slider__paragraph paragraph">
          РІК ВВЕДЕННЯ В ЕКСПЛУАТАЦІЮ
        </p>
        <span class="property-slider__description desc"
          >2020 - 1ч. 2021 - 2ч.</span
        >
      </div>
      <div class="property-slider__inner-content">
        <div class="property-slider__left-side">
          <p class="property-slider__paragraph paragraph">
            ВИСОТА СТЕЛЬ, М
          </p>
          <span class="property-slider__description desc">2.7-3</span>
        </div>
        <div class="property-slider__right-side">
          <p class="property-slider__paragraph paragraph">
            БУДИНКИ
          </p>
          <span class="property-slider__description desc">4</span>
        </div>
      </div>
      <div class="property-slider__inner-content">
        <div class="property-slider__left-side">
          <p class="property-slider__paragraph paragraph">
            ПОВЕРХІВ
          </p>
          <span class="property-slider__description desc">10-34</span>
        </div>
        <div class="property-slider__right-side">
          <p class="property-slider__paragraph paragraph">
            КВАРТИР
          </p>
          <span class="property-slider__description desc">2857</span>
        </div>
      </div>
    </div>
    <div class="property-slider__slider-container">
      <div class="property-slider__slider">
        <img
          src="../../assets/images/Purchase-terms/choice_flat-slider/A136__kitchen-preview.jpg"
          alt=""
        />
      </div>
      <div class="property-slider__slider-text">
        <h3 class="property-slider__description-title text-uppercase mb-4">
          But I must explain to you how all this mistaken
        </h3>
        <p class="property-slider__paragraph paragraph">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga.
        </p>
        <a href="" class="property-slider__link link underline">watch more</a>
      </div>
    </div>
  </div>
</section>
<section class="full-img mt-5">
  <img
    class="full-img__preview"
    src="../../assets/images/Purchase-terms/A136_full-img.jpg"
    title=""
    alt=""
  />
</section>

<section class="news-promotions">
  <div class="news-promotions inner-container">
    <div class="news-promotions__row row">
      <div class="news-promotions__title-container">
        <h2 class="news-promotions__title title-h2 text-uppercase">
          Новости и акции
        </h2>
      </div>
      <div class="news-promotions__link-container col-md-2">
        <a
          href=""
          class="news-promotions__link link-negative underline-negative pr-5 pb-3"
          >Watch more</a
        >
      </div>
    </div>
  </div>
  <div class="news-promotions__row row">
    <div class="col-md-6 col-sm-6">
      <img
        src="../../assets/images/home-page/News__promotion/A136_news.jpg"
        alt=""
        class="news-promotions__preview"
      />
      <div class="row pt-3">
        <div class="date col-md-6 pl-0">06/09</div>
        <div class="par col-md-6 pr-0 text-right">New</div>
      </div>
      <h4 class="news-promotions__description-preview title-h4 mt-4">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure
      </h4>
      <a href="" class="link-negative underline-negative pr-5 pb-3"
        >Watch more</a
      >
    </div>
    <div class="col-md-6 col-sm-6 pr-0">
      <div class="row justify-content-between" style="padding-top: 24.3%;">
        <div class="col-md-6 pl-0">
          <img
            src="../../assets/images/home-page/News__promotion/A136_promotion_1.jpg"
            alt=""
          />
          <div class="row pt-3">
            <div class="date col-md-6 pl-0">06/09</div>
            <div class="par col-md-6 pr-0 text-right">New</div>
          </div>
          <h4 class="news-promotions__description-preview title-h4 mt-4">
            Stay Trendy and In Time – Early Booking Offer
          </h4>
          <a href="" class="link-negative pr-5 pb-3">Read more</a>
        </div>
        <div class="col-md-6 pr-0">
          <img
            src="../../assets/images/home-page/News__promotion/A136_promotion_2.jpg"
            alt=""
          />
          <div class="row pt-3">
            <div class="date col-md-6 pl-0">06/09</div>
            <div class="par col-md-6 pr-0 text-right">New</div>
          </div>
          <h4 class="news-promotions__description-preview title-h4 mt-4">
            Stay Trendy and In Time – Early Booking Offer
          </h4>
          <a href="" class="link-negative pr-5 pb-3">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
