<section>
  <div class="newslist inner-container inner-container_newslist">
    <div class="newslist__row">
      <div class="newslist__headline">
        <h1 class="newslist__title-h1">Новости</h1>
      </div>

      <div class="newslist__list">
        <span class="newslist__item text-uppercase font-weight-bold"
          >Новости</span
        >
        <span class="newslist__item text-uppercase text-right"
          >акционные предложения</span
        >
      </div>
    </div>
  </div>
</section>

<!-- Img right text left -->

<section>
  <div class="inner-container inner-container_documents">
    <div class="row justify-content-between">
      <div class="text-content">
        <span class="date">06/09/2019</span>
        <h4>Stay Trendy and In Time – Early Booking Offer</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="link">Read more</a>
      </div>
      <figure class="figure">
        <img
          src="./assets/images/News/A136__preview_1.jpg"
          title="Preview"
          alt="Preview"
        />
      </figure>
    </div>
    <div class="row justify-content-between">
      <figure class="figure">
        <img
          src="./assets/images/News/A136__preview_1.jpg"
          title="Preview"
          alt="Preview"
        />
      </figure>
      <div class="text-content">
        <span class="date">06/09/2019</span>
        <h4>Stay Trendy and In Time – Early Booking Offer</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="link">Read more</a>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="text-content">
        <span class="date">06/09/2019</span>
        <h4>Stay Trendy and In Time – Early Booking Offer</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="link">Read more</a>
      </div>
      <figure class="figure">
        <img
          src="./assets/images/News/A136__preview_1.jpg"
          title="Preview"
          alt="Preview"
        />
      </figure>
    </div>
    <div class="row justify-content-between">
      <figure class="figure">
        <img
          src="./assets/images/News/A136__preview_1.jpg"
          title="Preview"
          alt="Preview"
        />
      </figure>
      <div class="text-content">
        <span class="date">06/09/2019</span>
        <h4>Stay Trendy and In Time – Early Booking Offer</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="link">Read more</a>
      </div>
    </div>
    <div class="pagination ">
      <div class="pagination__container">
        <ul class="pagination__list">
          <li class="pagination__item active"><a href="#">1</a></li>
          <li class="pagination__item"><a href="#">2</a></li>
          <li class="pagination__item"><a href="#">3</a></li>
          <li class="pagination__item"><a href="#">............</a></li>
          <li class="pagination__item"><a href="#">10</a></li>
        </ul>

        <div class="pagination__next-page">
          <a href="#">Next page</a>
        </div>
      </div>
    </div>
  </div>
</section>
