<!-- <app-slider 
   [images]="imageSource"
   [keyText]="'sliderText'"
   [keyDate]="'adress'"
   [keyType]="'adress'"
  >
</app-slider>

<app-slider [images]="imageSource"
   [keyText]="'sliderText'"
   [keyDate]="'adress'"
   [keyType]="'adress'">
</app-slider> -->

<section class="dim">
  <div class="inner-container pb-5">
    <div class="row align-items-center">
      <div class="col-md-8 pl-0">
        <h1 class="title-h1">
          {{ getSiteGroup("readyDimMainTitle") | async }}
        </h1>
      </div>
      <div class="paragraph col-md-4">
        {{ getSiteGroup("readyDimTitleParagraph") | async }}
      </div>
    </div>
  </div>
</section>

<img
  src="../../assets/images/Dim/A136__Dim-hero.jpg"
  class="img-fluid"
  alt="Responsive image"
/>

<!-- Social section -->

<section>
  <div class="inner-container">
    <div class="row mt-5">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-right">
        <span class="text-uppercase ml-5"> <a href=""> Facebook</a></span
        ><span class="text-uppercase ml-5"><a href="">Instagram</a></span>
      </div>
    </div>
  </div>
</section>

<!-- Количество сданных домов -->

<section>
  <div class="dim-main col-md-12 pl-md-5 ml-md-auto mr-0 pr-0">
    <div class="row justify-content-between align-items-end">
      <div class="col-md-3 ml-md-5 ml-sm-5 mb-5 ordered">
        <h2 class="title-h2 text-uppercase mt-5 pt-3 mb-4">
          {{ getSiteGroup("readyDimQuantity") | async }}
          <span class="desc">{{
            getSiteGroup("readyDimQuantityGold") | async
          }}</span>
        </h2>
        <p class="paragraph">
          {{ getSiteGroup("readyDimQuantityParagraph") | async }}
        </p>
      </div>
        <figure class="dim__preview pl-0 pr-0 ">
         
        </figure>
    </div>
  </div>
</section>

<!-- Блок с проектами компании и переход на сайт -->

<section>
  <div class="inner-container pt-md-5">
    <div class="col-md-6 offset-md-6">
      <h2 class="title-h2 text-uppercase pt-md-5 mt-5 mb-5">
        {{ getSiteGroup("readyDimQuantitySecondaryTitle") | async }}
      </h2>
    </div>
  </div>
  <div class="row justify-content-end pr-0 m-0">
    <div class="project-block pr-0 mb-3">
      <div class="project-block__title-container">
        <h3 class="project-block__title">
          Discover new emotions and to be inspired by the local atmosphere
        </h3>
        <a href="" class="link-negative d-none d-sm-block d-md-block d-lg-block"
          >read more</a
        >
      </div>
    </div>
    <div class="project-block pr-0 mb-3">
      <div class="project-block__title-container">
        <h3 class="project-block__title">
          Discover new emotions and to be inspired by the local atmosphere
        </h3>
        <a href="" class="link-negative d-none d-sm-block d-md-block d-lg-block"
          >read more</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-11 m-auto">
    <div class="col-md-6 offset-md-6 pl-0">
      <a href="" class="link underline mt-5 mb-5 pb-3 pr-5">watch more</a>
    </div>
  </div>
</section>

<section>
  <img
    src="../../assets/images/Dim/section_bg.jpg"
    class="full-img img-fluid mt-5 mb-5"
    alt="Responsive image"
  />
</section>

<!-- Структура компании dim group -->

<section>
  <div class="company-structure container-left mr-0 pr-0">
    <div class="row justify-content-between">
      <div class="col-md-6 pl-0 ml-0">
        <h2
          class="company-structure_title col-md-5 pl-0  title-h2 mt-md-5 pt-md-5 text-uppercase"
        >
          {{ getSiteGroup("readyDimStructureTitle") | async }}
        </h2>
        <p
          class="company-structure_paragraph paragraph col-md-8 mt-5 mb-5 pl-0"
        >
          {{ getSiteGroup("readyDimStructureParagraph") | async }}
        </p>

        <div class="company-structure__counter-container ml-5 pl-5">
          <p class="company-structure__completed-project text-uppercase">
            {{ getSiteGroup("readyDimStructureParagraphOne") | async }}
            <span class="company-structure__countries">{{
              getSiteGroup("readyDimStructureParagraphOneNumber") | async
            }}</span>
          </p>
          <div class="row col-md-9 pl-0">
            <div class="col-md-3 pl-0">
              <span class="desc">{{
                getSiteGroup("readyDimNumberOne") | async
              }}</span>
              <p class="paragraph">
                {{ getSiteGroup("readyDimNumberOneText") | async }}
              </p>
            </div>
            <div class="col-md-3">
              <span class="desc">{{
                getSiteGroup("readyDimNumberTwo") | async
              }}</span>
              <p class="paragraph">
                {{ getSiteGroup("readyDimNumberTwoText") | async }}
              </p>
            </div>
            <div class="col-md-3">
              <span class="desc">
                {{ getSiteGroup("readyDimNumberThree") | async }}</span
              >
              <p class="paragraph">
                {{ getSiteGroup("readyDimNumberThreeText") | async }}
              </p>
            </div>
            <div class="col-md-3">
              <span class="desc">{{
                getSiteGroup("readyDimNumberFour") | async
              }}</span>
              <p class="paragraph">
                {{ getSiteGroup("readyDimNumberFourText") | async }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pr-0 pl-md-5 pl-sm-5 pl-0">
        <img
          src="../../assets/images/Dim/A136__Dim-group.jpg"
          title=""
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- Logo section -->

<div class="grid mt-5 mb-5">
  <div class="grid-row">
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_1.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_2.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_3.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_4.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_5.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_6.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_7.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_8.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_9.png" alt="" />
    </div>
    <div class="item">
      <img src="../../assets/images/Dim/logo_section/136__logo_10.png" alt="" />
    </div>
  </div>
</div>

<!-- Сертификат качества -->

<section>
  <div class="inner-container">
    <div class="row justify-content-between align-items-end">
      <div class="col-md-4">
        <img
          src="../../assets/images/Dim/A136__sertificate-quality.jpg"
          title="Sertificate Quality"
          alt="Sertificate Quality"
        />
      </div>
      <div class="col-md-5">
        <h2 class="title-h2 text-uppercase">
          {{ getSiteGroup("readyDimQualityCertificateTitle") | async }}
        </h2>
        <p class="paragraph col-md-8 mt-5 pl-md-5 ml-md-5">
          {{ getSiteGroup("readyDimQualityCertificateTParagraph") | async }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- НОВОСТИ И АКЦИИ -->

<!-- <section>
  <div class="col-md-11 m-auto mb-5 ">
    <div class="row mr-0 align-items-center">
      <div class="col-md-10">
        <h2 class="title-h2 text-uppercase ml-5 mt-5 mb-5 pt-5">
          Новости <br />
          и акции
        </h2>
      </div>
      <div class="col-md-2">
        <a href="" class="link underline pr-5 pb-3">Watch more</a>
      </div>
    </div>
  </div>
  <div class="row align-items-end pb-5 mb-5">
    <div class="col-md-6">
      <img
        src="../../assets/images/home-page/News__promotion/A136_news.jpg"
        alt=""
      />
      <div class="row pt-3 align-items-center">
        <div class="date col-md-6 pl-0">06/09</div>
        <div class="par col-md-6 pr-0 text-right">New</div>
      </div>
      <h4 class="title-h4 mt-4">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure
      </h4>
      <a href="" class="link underline pr-5 pb-3">Watch more</a>
    </div>
    <div class="col-md-6 pr-0">
      <div class="row justify-content-between">
        <div class="col-md-6 pl-0">
          <img
            src="../../assets/images/home-page/News__promotion/A136_promotion_1.jpg"
            alt=""
          />
          <div class="row pt-3 align-items-center">
            <div class="date col-md-6 pl-0">06/09</div>
            <div class="par col-md-6 pr-0 text-right">New</div>
          </div>
          <h4 class="title-h4 mt-4">
            Stay Trendy and In Time – Early Booking Offer
          </h4>
          <a href="" class="link pr-5 pb-3">Read more</a>
        </div>
        <div class="col-md-6 pr-0">
          <img
            src="../../assets/images/home-page/News__promotion/A136_promotion_2.jpg"
            alt=""
          />
          <div class="row pt-3 align-items-center">
            <div class="date col-md-6 pl-0">06/09</div>
            <div class="par col-md-6 pr-0 text-right">New</div>
          </div>
          <h4 class="title-h4 mt-4">
            Stay Trendy and In Time – Early Booking Offer
          </h4>
          <a href="" class="link pr-5 pb-3">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<app-slider class="carousel-news" [opt]="optOne" [images]="imageSource" [keyText]="'sliderText'" [keyDate]="'adress'" [keyType]="'adress'">
</app-slider>
