<section>
  <div class="col-md-11 m-auto pt">
    <div class="row justify-content-end">
      <div class="col-md-9">
        <h1 class="title-h1 text-left">
          Технология<br />
          строительства
        </h1>
      </div>
      <div class="col-lg-3 col-md-3 d-md-flex align-items-end">
        <p class="paragraph text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <figure class="single-news__img-container">
    <img
      class="single-news__img"
      src="../../assets/images/Development-technology/A136__devTechnology_bg.jpg"
      title="Title"
      alt="Title"
    />
  </figure>
</section>
<section>
  <div class="col-md-11 m-auto">
    <div class="social__container row mt-5 mb-5 justify-content-end">
      <a href="#" class="social__link text-uppercase">
        Facebook
      </a>
      <a href="#" class="social__link ml-5 text-uppercase">
        Instagram
      </a>
    </div>
  </div>
</section>

<div class="dev-technlogy col-md-11 m-auto">
  <div class="row justify-content-between mb-5 pt-md-5">
    <div
      class="col-lg-5 col-md-12 text-content d-flex flex-column justify-content-end "
    >
      <h4 class="title-h4 text-uppercase">Благоустрій території</h4>
      <ul class="list-content">
        <li>
          Виконується за індивідуальним ландшафтним дизайном; Зовнішнє
          освітлення – світильники на опорах з використанням LED технологій.
        </li>
        <li>
          Система опалення: централізована з поквартирною розводкою;
        </li>
        <li>
          Опалювальні прилади: сталеві радіатори. Сталеві радіатори мають високу
          тепловіддачу, що дозволяє максимально економити енергоресурси;
        </li>
        <li>
          Лічильники поквартирні, електролічильники, лічильники холодної та
          гарячої води, теплові лічильники.
        </li>
        <li>
          Кондиціювання – на зовнішніх стінах будівлі змонтовані спеціальні
          кошики під кондиціонери з «тунелями» для дренажу та підключення
          електроживлення.
        </li>
      </ul>
    </div>
    <div class="figured ordered">
      <img
        src="./assets/images/Constructions/A136__1.jpg"
        title="Preview"
        alt="Preview"
      />
    </div>
  </div>

  <div class="row justify-content-between mb-5 pt-5">
    <div
      class="col-lg-5 col-md-12 text-content d-flex flex-column justify-content-end"
    >
      <h4 class="title-h4 text-uppercase">Благоустрій території</h4>
      <ul class="list-content">
        <li>
          Два ліфти фірми «Євроформат» будуть встановлені в кожній секції
          будинку;
        </li>
        <li>
          Система опалення: централізована з поквартирною розводкою;
        </li>
        <li>
          Опалювальні прилади: сталеві радіатори. Сталеві радіатори мають високу
          тепловіддачу, що дозволяє максимально економити енергоресурси;
        </li>
        <li>
          Лічильники поквартирні, електролічильники, лічильники холодної та
          гарячої води, теплові лічильники.
        </li>
        <li>
          Кондиціювання – на зовнішніх стінах будівлі змонтовані спеціальні
          кошики під кондиціонери з «тунелями» для дренажу та підключення
          електроживлення.
        </li>
      </ul>
    </div>
    <div class="figured">
      <img
        src="./assets/images/Constructions/A136__2.jpg"
        title="Preview"
        alt="Preview"
      />
    </div>
  </div>

  <div class="row justify-content-between mb-5 pt-5">
    <div
      class="col-lg-5 col-md-12text-content d-flex flex-column justify-content-end"
    >
      <h4 class="title-h4 text-uppercase">Благоустрій території</h4>
      <ul class="list-content">
        <li>
          Два ліфти фірми «Євроформат» будуть встановлені в кожній секції
          будинку;
        </li>
        <li>
          Система опалення: централізована з поквартирною розводкою;
        </li>
        <li>
          Опалювальні прилади: сталеві радіатори. Сталеві радіатори мають високу
          тепловіддачу, що дозволяє максимально економити енергоресурси;
        </li>
        <li>
          Лічильники поквартирні, електролічильники, лічильники холодної та
          гарячої води, теплові лічильники.
        </li>
        <li>
          Кондиціювання – на зовнішніх стінах будівлі змонтовані спеціальні
          кошики під кондиціонери з «тунелями» для дренажу та підключення
          електроживлення.
        </li>
      </ul>
    </div>
    <div class="figured ordered">
      <img
        src="./assets/images/Constructions/A136__3.jpg"
        title="Preview"
        alt="Preview"
      />
    </div>
  </div>

  <div class="row justify-content-between mb-5 pt-5">
    <div
      class="col-lg-5 col-md-12 text-content d-flex flex-column justify-content-end"
    >
      <h4 class="title-h4 text-uppercase">Благоустрій території</h4>
      <ul class="list-content">
        <li>
          Два ліфти фірми «Євроформат» будуть встановлені в кожній секції
          будинку;
        </li>
        <li>
          Система опалення: централізована з поквартирною розводкою;
        </li>
        <li>
          Опалювальні прилади: сталеві радіатори. Сталеві радіатори мають високу
          тепловіддачу, що дозволяє максимально економити енергоресурси;
        </li>
        <li>
          Лічильники поквартирні, електролічильники, лічильники холодної та
          гарячої води, теплові лічильники.
        </li>
        <li>
          Кондиціювання – на зовнішніх стінах будівлі змонтовані спеціальні
          кошики під кондиціонери з «тунелями» для дренажу та підключення
          електроживлення.
        </li>
      </ul>
    </div>
    <div class="figured">
      <img
        src="./assets/images/Constructions/A136__4.jpg"
        title="Preview"
        alt="Preview"
      />
    </div>
  </div>

  <div class="row justify-content-between mb-5 pt-5">
    <div
      class="col-lg-5 col-md-12 text-content d-flex flex-column justify-content-end "
    >
      <h4 class="title-h4 text-uppercase">Благоустрій території</h4>
      <ul class="list-content">
        <li>
          Два ліфти фірми «Євроформат» будуть встановлені в кожній секції
          будинку;
        </li>
        <li>
          Система опалення: централізована з поквартирною розводкою;
        </li>
        <li>
          Опалювальні прилади: сталеві радіатори. Сталеві радіатори мають високу
          тепловіддачу, що дозволяє максимально економити енергоресурси;
        </li>
        <li>
          Лічильники поквартирні, електролічильники, лічильники холодної та
          гарячої води, теплові лічильники.
        </li>
        <li>
          Кондиціювання – на зовнішніх стінах будівлі змонтовані спеціальні
          кошики під кондиціонери з «тунелями» для дренажу та підключення
          електроживлення.
        </li>
      </ul>
    </div>
    <div class="figured ordered">
      <img
        src="./assets/images/Constructions/A136__5.jpg"
        title="Preview"
        alt="Preview"
      />
    </div>
  </div>

  <div class="row justify-content-between mb-5 pt-5 pb-5">
    <div
      class="col-lg-5 col-md-12 text-content d-flex flex-column justify-content-end"
    >
      <h4 class="title-h4 text-uppercase">Благоустрій території</h4>
      <ul class="list-content">
        <li>
          Два ліфти фірми «Євроформат» будуть встановлені в кожній секції
          будинку;
        </li>
        <li>
          Система опалення: централізована з поквартирною розводкою;
        </li>
        <li>
          Опалювальні прилади: сталеві радіатори. Сталеві радіатори мають високу
          тепловіддачу, що дозволяє максимально економити енергоресурси;
        </li>
        <li>
          Лічильники поквартирні, електролічильники, лічильники холодної та
          гарячої води, теплові лічильники.
        </li>
        <li>
          Кондиціювання – на зовнішніх стінах будівлі змонтовані спеціальні
          кошики під кондиціонери з «тунелями» для дренажу та підключення
          електроживлення.
        </li>
      </ul>
    </div>
    <div class="figured">
      <img
        src="./assets/images/Constructions/A136__6.jpg"
        title="Preview"
        alt="Preview"
      />
    </div>
  </div>

  <!-- Figure with contact form -->

  <div class="contact row justify-content-between mb-5 pt-5">
    <figure class="contact__preview figured">
      <img
        src="./assets/images/Constructions/A136__preview-contacts.jpg"
        alt=""
      />
    </figure>
    <div
      class="contact__form col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-start pb-4 pr-0"
    >
      <h3 class="contact__title title-h4">
        But I must explain <br />
        how all to you
      </h3>
      <div class="col-lg-8 col-md-12 offset-lg-4 mb-5 pl-0">
        <p class="paragraph col-md-10 pl-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <form
        action=""
        class="form-contact col-lg-8 col-md-12 offset-lg-4 mb-5 pl-0"
      >
        <div class="form-contact__field-container mb-3">
          <label for="email" class="form-contact__label">Ваше имя</label>
          <input
            type="name"
            class="form-contact__field-input field-input form-control"
          />
          <div class="form-contact__error-message invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        <div class="form-contact__field-container mb-3">
          <label for="email" class="form-contact__label">Ваш телефон</label>
          <input
            type="number"
            class="form-contact__field-input field-input form-control"
          />
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        <div class="form-contact__field-container mb-3">
          <label for="email" class="form-contact__label">Ваш e-mail</label>
          <input
            type="email"
            class="form-contact__field-input field-input form-control"
          />
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        <button
          type="submit"
          class="form-contact__button submit-btn underline pb-3 pr-5"
        >
          Отправить
        </button>
      </form>
    </div>
  </div>
</div>
