<div class="app-hero">
  <div class="app-hero__rectangle"></div>
  <div class="inner-container">
    <div class="app-hero__headline">
      <h1 class="app-hero__h1">
        {{ getSiteGroup("textOne") | async }}
      </h1>
      <a href="" class="app-hero__cta link underline">{{
        getSiteGroup("watchMore") | async
      }}</a>
    </div>

    <a
      [routerLink]="['/flats']"
      routerLinkActive="router-link-active"
      class="app-hero__watch-block"
    >
      <hr class="app-hero__indicator" />
      <span class="app-hero__plan">{{
        getSiteGroup("exploreFlats") | async
      }}</span>
    </a>
  </div>

  <ul class="app-hero__list-social mr-5">
    <li>
      <a href="#" class="text-uppercase">{{
        getSiteGroup("facebook") | async
      }}</a>
    </li>
    <li>
      <a href="#" class="text-uppercase ml-5">{{
        getSiteGroup("instagram") | async
      }}</a>
    </li>
  </ul>
</div>

<!-- main sections -->

<section class="tabs-slider">
  <div class="container-left">
    <h1 class="title-h2 mb-2 pr-5 mr-5">
      {{ getSiteGroup("planPlats_main") | async }}
    </h1>
    <ngb-tabset #t="ngbTabset" class="tabs">
      <ngb-tab id="tab-selectbyid1">
        <ng-template ngbTabTitle>{{
          getSiteGroup("main__room1") | async
        }}</ng-template>
        <ng-template ngbTabContent>
          <!-- TAB CONTENT -->
          <div class="tabs__container">
            <div class="tabs__tab">
              <p class="tabs__paragraph">
                {{ getSiteGroup("main__room2-description") | async }}
              </p>
              <div class="tabs__inner-container">
                <div class="tabs__content">
                  <h3 class="h3">ОДНОКОМНАТНАЯ</h3>
                  <span class="desc">от 12.77 м²</span>
                </div>
                <div class="tabs__content">
                  <h3>ЦЕНА КВАРТИРЫ</h3>
                  <span class="desc">от 300 000 грн</span>
                </div>
                <div class="tabs__content">
                  <h3 class="h3">ЦЕНА ЗА M²</h3>
                  <span class="desc">250000 грн</span>
                </div>
              </div>

              <a href="" class="link mt-5 pr-5">watch more</a>
            </div>
            <div class="tabs__slider">
              <!------------------------------
                  ------------------------------
                  CAROUSEL - выбор квартиры и переход
                  ------------------------------
                ---------------------------------->
              <div class="square-slider negative">
                <app-slider [data]="squareSlider" [opt]="optionSquere">
                </app-slider>
              </div>
            </div>
          </div>

          <!-- END TAB CONTENT -->
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-selectbyid2">
        <ng-template ngbTabTitle>{{
          getSiteGroup("main__room2") | async
        }}</ng-template>
        <ng-template ngbTabContent
          ><!-- TAB CONTENT -->
          <div class="tabs__container">
            <div class="tabs__tab">
              <p class="tabs__paragraph">
                {{ getSiteGroup("main__room2-description") | async }}
              </p>
              <div class="tabs__inner-container">
                <div class="tabs__content">
                  <h3 class="h3">ОДНОКОМНАТНАЯ</h3>
                  <span class="desc">от 12.77 м²</span>
                </div>
                <div class="tabs__content">
                  <h3>ЦЕНА КВАРТИРЫ</h3>
                  <span class="desc">от 300 000 грн</span>
                </div>
                <div class="tabs__content">
                  <h3 class="h3">ЦЕНА ЗА M²</h3>
                  <span class="desc">250000 грн</span>
                </div>
              </div>

              <a href="" class="link mt-5 pr-5">watch more</a>
            </div>
            <div class="tabs__slider">
              <!------------------------------
                          ------------------------------
                          CAROUSEL - выбор квартиры и переход
                          ------------------------------
                        ---------------------------------->
              <div class="square-slider negative">
                <app-slider [data]="squareSlider" [opt]="optionSquere">
                </app-slider>
              </div>
            </div>
          </div>

          <!-- END TAB CONTENT -->
        </ng-template>
      </ngb-tab>

      <ngb-tab id="tab-selectbyid3">
        <ng-template ngbTabTitle>
          {{ getSiteGroup("main__room3") | async }}
        </ng-template>
        <ng-template ngbTabContent>
          <!-- TAB CONTENT -->
          <div class="tabs__container">
            <div class="tabs__tab">
              <p class="tabs__paragraph">
                {{ getSiteGroup("main__room2-description") | async }}
              </p>
              <div class="tabs__inner-container">
                <div class="tabs__content">
                  <h3 class="h3">ОДНОКОМНАТНАЯ</h3>
                  <span class="desc">от 12.77 м²</span>
                </div>
                <div class="tabs__content">
                  <h3>ЦЕНА КВАРТИРЫ</h3>
                  <span class="desc">от 300 000 грн</span>
                </div>
                <div class="tabs__content">
                  <h3 class="h3">ЦЕНА ЗА M²</h3>
                  <span class="desc">250000 грн</span>
                </div>
              </div>

              <a href="" class="link mt-5 pr-5">watch more</a>
            </div>
            <div class="tabs__slider">
              <!------------------------------
                            ------------------------------
                            CAROUSEL - выбор квартиры и переход
                            ------------------------------
                          ---------------------------------->
              <div class="square-slider negative">
                <app-slider [data]="squareSlider" [opt]="optionSquere">
                </app-slider>
              </div>
            </div>
          </div>

          <!-- END TAB CONTENT -->
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-selectbyid4">
        <ng-template ngbTabTitle>{{
          getSiteGroup("main__room4") | async
        }}</ng-template>
        <ng-template ngbTabContent
          ><!-- TAB CONTENT -->
          <div class="tabs__container">
            <div class="tabs__tab">
              <p class="tabs__paragraph">
                {{ getSiteGroup("main__room2-description") | async }}
              </p>
              <div class="tabs__inner-container">
                <div class="tabs__content">
                  <h3 class="h3">ОДНОКОМНАТНАЯ</h3>
                  <span class="desc">от 12.77 м²</span>
                </div>
                <div class="tabs__content">
                  <h3>ЦЕНА КВАРТИРЫ</h3>
                  <span class="desc">от 300 000 грн</span>
                </div>
                <div class="tabs__content">
                  <h3 class="h3">ЦЕНА ЗА M²</h3>
                  <span class="desc">250000 грн</span>
                </div>
              </div>

              <a href="" class="link mt-5 pr-5">watch more</a>
            </div>
            <div class="tabs__slider">
              <!------------------------------
                          ------------------------------
                          CAROUSEL - выбор квартиры и переход
                          ------------------------------
                        ---------------------------------->
              <div class="square-slider negative">
                <app-slider [data]="squareSlider" [opt]="optionSquere">
                </app-slider>
              </div>
            </div>
          </div>

          <!-- END TAB CONTENT -->
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <!---->
</section>

<!-- Main contact form -->

<section>
  <div class="main-contactForm">
    <div class="inner-container">
      <div class="main-contactForm__row row">
        <div class="main-contactForm__preview-container col-md-5 pl-0">
          <img
            src="../../assets/images/home-page/form-contact/A136__form-preview.jpg"
            class="main-contactForm__preview"
            title="A136"
            alt="A136"
          />
        </div>
        <div class="col-md-6">
          <h2 class="title-h2 text-uppercase pl-5 mb-5"></h2>
          <p class="paragraph offset-md-4 mr-5">
            {{ getSiteGroup("main__form-content") | async }}
          </p>

          <form class="contact-form offset-md-4 mr-5">
            <div class="form-group">
              <label for="exampleInputEmail1">Ваше имя</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Ваш телефон</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="form-group mb-5">
              <label for="exampleInputPassword1">Ваш e-mail</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>

            <button type="submit" class="btn link-negative underline-negative">
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- выбор квартиры и переход -->

<section>
  <div class="apartment-choice">
    <div class="apartment-choice__row row justify-content-between p-0 m-0">
      <div class="apartment-choice__left-container col-md-4 pt-5 pl-0 pr-0">
        <div class="apartment-choice__container col-md-12 pl-0 pr-0">
          <h2 class="apartment-choice__title title-h2 text-uppercase mb-5">
            {{ getSiteGroup("main__choiceRoom-title") | async }}
          </h2>
          <h3 class="h3 pt-4">
            {{ getSiteGroup("main__choiceRoom-subtitle") | async }}
          </h3>
          <span class="desc"
            >{{ getSiteGroup("main__choiceRoom-subtitle_content") | async }}
          </span>
        </div>
        <div class="apartment-choice__container col-md-12 pl-0 pr-0">
          <div class="row">
            <div class="col-md-8 pl-0">
              <h3 class="h3 pt-5">
                {{ getSiteGroup("main__choiceRoom-hight-details") | async }}
              </h3>
              <span class="desc">{{
                getSiteGroup("main__choiceRoom-hight-number") | async
              }}</span>
            </div>
            <div class="col-md-4">
              <h3 class="h3 pt-5">
                {{ getSiteGroup("main__choiceRoom-flats") | async }}
              </h3>
              <span class="desc">{{
                getSiteGroup("main__choiceRoom-flats_number") | async
              }}</span>
            </div>
          </div>
        </div>
        <div class="apartment-choice__container col-md-12 pl-0 pr-0">
          <div class="row">
            <div class="col-md-8 pl-0">
              <h3 class="h3 pt-5">
                {{ getSiteGroup("main__choiceRoom-flats_levels") | async }}
              </h3>
              <span class="desc">{{
                getSiteGroup("main__choiceRoom-flats_levels-number") | async
              }}</span>
            </div>
            <div class="col-md-4">
              <h3 class="h3 pt-5">
                {{ getSiteGroup("main__choiceRoom-flats_rooms") | async }}
              </h3>
              <span class="desc">{{
                getSiteGroup("main__choiceRoom-flats_rooms-number") | async
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="apartment-choice__img-container col-md-6 position-relative d-flex
        align-items-start justify-content-end pb-5 pr-0"
      >
        <div class="apartment-choice__card card-img-top position-absolute">
          <h3 class="title-h3 text-uppercase">
            {{ getSiteGroup("main__choiceRoom-slider-title") | async }}
          </h3>
          <p class="paragraph">
            {{ getSiteGroup("main__choiceRoom-slider-content") | async }}
          </p>
          <a href="#" class="link underline pr-5 pb-3">watch more</a>
        </div>

        <!------------------------------
        ------------------------------
        CAROUSEL - выбор квартиры и переход
        ------------------------------
      ---------------------------------->
        <div class="square-slider">
          <app-slider [data]="squareSlider" [opt]="optionSquere"> </app-slider>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <img
    src="./assets/images/home-page/A136__full-img.jpg"
    class="img-fluid"
    alt="Responsive image"
  />
</section>

<!------------------------------
  ------------------------------
   CAROUSEL - БЛОК О ЖК ПЕРЕХОД В РАЗДЕЛ
  ------------------------------
---------------------------------->
<!-- <section>
  <div class="inner-container">
    <app-slider
      class="double-slider"
      [opt]="optTwo"
      [images]="imageSource"
      [keyText]="'sliderText'"
      [keyDate]="'adress'"
      [keyType]="'adress'"
    >
    </app-slider>
  </div>
</section> -->
<section>
  <div
    class="six-elements-section row justify-content-between align-items-center"
  >
    <div class="six-elements-section__grey-figure"></div>

    <div
      class="six-elements-section__figure-img col-md-3 mr-5 mt-5 pt-5
      align-self-start"
    >
      <img src="./assets/images/home-page/_materials/A136_image_2.jpg" alt="" />
    </div>
    <div class="col-md-4">
      <div class="six-elements-section__gold-figure col-md-5 mb-5"></div>
      <h2 class="title-h2 text-uppercase mb-3">
        {{ getSiteGroup("main__progress-construction-title") | async }}
      </h2>
      <h3 class="">
        {{ getSiteGroup("main__progress-construction-subtitle") | async }}
      </h3>
      <p class="paragraph col-md-12 pl-0">
        {{ getSiteGroup("main__progress-construction-content") | async }}
      </p>
      <a href="" class="link underline pb-3 pr-5 mb-5">Watch more</a>
      <img src="./assets/images/home-page/_materials/A136_image_3.jpg" alt="" />
    </div>
    <div class="six-elements-section__figure-lastImg pr-0">
      <img src="./assets/images/home-page/_materials/A136_image_1.jpg" alt="" />
    </div>
  </div>
</section>

<!-- инфраструктура перход в основной раздел -->

<section>
  <div class="infostructure inner-container">
    <div class="infostructure__row row mt-5">
      <div class="infostructure__content-left col-md-7 pl-0">
        <h2 class="infostructure__title title-h2 text-uppercase pl-0 mb-5">
          {{ getSiteGroup("main__infrastructure-title") | async }}
        </h2>
        <div class="infostructure__inner-container col-md-6 offset-md-2">
          <p class="infostructure__content paragraph mb-5">
            {{ getSiteGroup("main__infrastructure-content") | async }}
          </p>
          <a href="" class="link-negative underline-negative">watch more</a>
        </div>
      </div>
      <div class="infostructure__content-right col-md-5">
        <img
          src="../../assets/images/home-page/Infrastructure/A136__infrastruttura.jpg"
          class="infostructure__preview"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- галерея с фотками о жк -->

<section>
  <div class="gallery-section">
    <div class="gallery-section__gold-figure"></div>

    <div class="gallery-section__right-container">
      <div class="gallery-section__row">
        <div class="gallery-section__inner-container">
          <div class="gallery-section__row gallery-section__row_secondary">
            <div class="gallery-section__main-images">
              <img
                class="gallery-section__preview-one"
                src="../../assets/images/home-page/Photo-gallery__section/A136__photo-gallery_1.jpg"
                alt=""
              />
              <img
                class="gallery-section__preview-two"
                src="../../assets/images/home-page/Photo-gallery__section/A136__photo-gallery_3.jpg"
                alt=""
              />
            </div>

            <div class="gallery-section__text-container">
              <h2 class="gallery-section__main-title">
                {{ getSiteGroup("main__gallery-flats") | async }}
              </h2>
              <p class="gallery-section__paragraph">
                {{ getSiteGroup("main__gallery-flats-content") | async }}
              </p>
              <a
                href=""
                class="gallery-section__link link-negative underline-negative"
                >watch more</a
              >
            </div>
          </div>
        </div>
        <div class="gallery-section__side-photo">
          <img
            src="../../assets/images/home-page/Photo-gallery__section/A136__photo-gallery_2.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="gallery-section__bottom-preview">
        <img
          class="gallery-section__preview"
          src="../../assets/images/home-page/Photo-gallery__section/A136__photo-gallery_4.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="inner-container pt-5">
    <div class="col-md-5 offset-md-6 pb-5 mt-5">
      <h2 class="title-h2 text-uppercase">
        {{ getSiteGroup("main__flats-position-title") | async }}
      </h2>
    </div>
  </div>
  <div class="">
    <div class="container-left">
      <iframe
        width="100%"
        height="500"
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
      ></iframe>
    </div>
  </div>
</section>

<!------------------------------
  ------------------------------
   CAROUSEL - NEWS & PROMOTIONS 
  ------------------------------
---------------------------------->
<app-slider
  class="news-promotions"
  [opt]="optOne"
  [data]="imagesForSomeSliderOne"
>
</app-slider>

<section>
  <div class="col-md-11 m-auto">
    <div class="col-md-6 offset-md-6">
      <h2 class="title-h2 pt-5 mt-5 mb-5">
        {{ getSiteGroup("block-projects__title") | async }}
      </h2>
    </div>
  </div>
  <div class="row justify-content-end pr-0 m-0">
    <div class="project-block col-md-8 pr-0 mb-3">
      <div class="project-block__title-container">
        <h3 class="project-block__title">
          {{ getSiteGroup("block-projects__subtitle") | async }}
        </h3>
        <a href="" class="link-negative">read more</a>
      </div>

      <img src="./assets/images/home-page/A136_preview.jpg" alt="" />
    </div>
    <div class="project-block col-md-8 pr-0 mb-3">
      <div class="project-block__title-container">
        <h3 class="project-block__title">
          {{ getSiteGroup("block-projects__subtitle") | async }}
        </h3>
        <a href="" class="link-negative">read more</a>
      </div>

      <img src="./assets/images/home-page/A136_preview.jpg" alt="" />
    </div>
  </div>
  <div class="col-md-11 m-auto">
    <div class="col-md-6 offset-md-6 pl-0">
      <a href="" class="link underline mt-5 mb-5 pb-3 pr-5">watch more</a>
    </div>
  </div>
</section>
