<section class="main__textLeft-rightSlider pl-130 pt-130">
  <!-- TABS Планировка квартир -->
  <div class="padding-130">
    <tabset>
      <tab heading="Basic title" id="tab1">
        <div class="content-list col-lg-4 col-md-6 col-sm-12-col-xs-12 ">
          <p class="content-list__description main-paragraph">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga.
          </p>
          <div class="item-description">
            <p class="item-description__single">
              Кімната 1 <span>от 12.77 м²</span>
            </p>
            <p class="item-description__single">
              Цена квариры <span>от 300 000 грн</span>
            </p>
            <p class="item-description__single">
              Цена за м² <span>25000 грн</span>
            </p>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12-col-xs-12 pl-5 pr-0 carousel">
          <!-- Carousel Single Room -->
          <carousel>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="first slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </slide>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="second slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="third slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>
                  Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur.
                </p>
              </div>
            </slide>
          </carousel>
        </div>
      </tab>
      <tab heading="Basic Title 1">
        <div class="content-list col-lg-6 col-md-6 col-sm-12-col-xs-12">
          <p class="content-list__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga.
          </p>
          <div class="item-description">
            <span class="item-description__single"
              >Кімната 1 — от 12.77 м²</span
            >
            <span class="item-description__single"
              >Цена квариры — от 300 000 грн</span
            >
            <span class="item-description__single">Цена за м² — 25000 грн</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12-col-xs-12 pr-0 carousel">
          <!-- Carousel Single Room -->
          <carousel>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="first slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </slide>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="second slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="third slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>
                  Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur.
                </p>
              </div>
            </slide>
          </carousel>
        </div>
      </tab>
      <tab heading="Basic Title 2">
        <div class="content-list col-lg-6 col-md-6 col-sm-12-col-xs-12">
          <p class="content-list__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga.
          </p>
          <div class="item-description">
            <span class="item-description__single"
              >Кімната 1 — от 12.77 м²</span
            >
            <span class="item-description__single"
              >Цена квариры — от 300 000 грн</span
            >
            <span class="item-description__single">Цена за м² — 25000 грн</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12-col-xs-12 pr-0 carousel">
          <!-- Carousel Single Room -->
          <carousel>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="first slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </slide>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="second slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img
                src="assets/images/home-page/slider-planning/A136__apartment-check.jpg"
                alt="third slide"
                style="display: block; width: 100%;"
              />
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>
                  Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur.
                </p>
              </div>
            </slide>
          </carousel>
        </div>
      </tab>
    </tabset>
  </div>
</section>

<section class="main__imgLeft-rightText pl-130 pt-130">
  <div class="col-md-4 mr-205">
    <img src="../../assets/images/home-page/A136__room.jpg" alt="" />
  </div>
  <div class="col-md-8">
    <h2>But I must explain how all to you</h2>
    <div class="form-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <form action="">
        <label for="name">Ваше имя</label>
        <input type="text" id="name" />
        <label for="phone">Ваш телефон</label>
        <input type="number" id="phone" />
        <label for="email">Ваш e-mail</label>
        <input type="emai" id="email" />
        <a class="linkTo linkTo--black" href="">watch more</a>
      </form>
    </div>
  </div>
</section>

<section class="main__textLeft-rightSlider ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <h2>Планировка квартир</h2>
      </div>
      <div class="col-md-6">
        <figure>
          <img
            src="../../assets/images/home-page/slider/A136__apartment-check.jpg"
            alt="A136"
          />
        </figure>
        <div class="overlay-block">
          <h3>But I must explain to you how all this mistaken</h3>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga.
          </p>
          <a class="linkTo" href="">watch more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <img
    class="img-fluid"
    src="../../assets/images/home-page/A136__full-img.jpg"
    alt=""
  />
</section>
<section class="main">
  <div class="container"></div>
</section>
<section class="main"></section>
<section class="main"></section>
<section class="main"></section>
<section class="main"></section>
<section class="main__map"></section>
<section class="materials">
  <div class="materials__dark-figure"></div>
  <img
    class="materials__first-image"
    src="../../assets/images/home-page/_materials/A136_image_2.jpg"
  />
  <div class="materials__container triple-container">
    <div class="triple-container__light-figure"></div>
    <h2 class="triple-container__title">материалы хода строительства</h2>
    <h3 class="triple-container__h3">Ноябрь 2019 год</h3>
    <p class="triple-container__paragraph">
      On the other hand, we denounce with righteous indignation and dislike men
      who are so beguiled
    </p>
    <a href="triple-container__primary-link">Watch more</a>
    <img
      class="triple-container__inner-image img-fluid"
      src="../../assets/images/home-page/_materials/A136_image_3.jpg"
      alt=""
    />
  </div>
  <img
    class="materials__second-image"
    src="../../assets/images/home-page/_materials/A136_image_1.jpg"
  />
</section>
<section class="main"></section>
