<section class="gallery">
  <div class="gallery__container inner-container" style="margin-top: 300px;">
    <h1 class="gallery__title pl mt-5 mb-5 pt-3 pb-3">
      <strong>Gallery</strong>
    </h1>
  </div>

  <div class="grid-layout">
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__1.jpg"
        alt=""
      />
    </div>
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__2.jpg"
        alt=""
      />
    </div>
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__3.jpg"
        alt=""
      />
    </div>
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__4.jpg"
        alt=""
      />
    </div>
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__5.jpg"
        alt=""
      />
    </div>
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__6.jpg"
        alt=""
      />
    </div>
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__7.jpg"
        alt=""
      />
    </div>
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__8.jpg"
        alt=""
      />
    </div>
    <div class="grid-layout__block">
      <img
        class="grid-item__item"
        src="./assets/images/Gallery/A136__9.jpg"
        alt=""
      />
    </div>
  </div>
</section>
