<section class="mt-5 pt-5">
  <div class="col-md-11 mt-5 pt-5 pb-5 m-auto">
    <div class="row">
      <div class="col-md-6 mt-5 pt-5 mb-5 pl-0">
        <h1 class="single-news__title title-h1 main-title m-0 p-0">
          Stay Trendy and In Time – Early Booking Offer
        </h1>
      </div>

      <div
        class="single-news__date col-md-6 col-sm-12 col-xs-12 d-md-flex justify-content-md-end align-items-md-end align-items-sm-center mb-5 pr-0"
      >
        06/09/2019
      </div>
    </div>
    <figure class="single-news__img-container">
      <img
        class="single-news__img"
        src="./assets/images/single_news/A136__hero_bg.jpg"
        title="Title"
        alt="Title"
      />
    </figure>

    <!-- main content -->

    <div class="right-side-content col-md-7 offset-md-5 pl-md-0">
      <h4
        class="right-side-content__title-h4 title-h4 secondary-title mt-5 mb-5 pt-5"
      >
        Lorem ipsum dolor<br />
        sit amet
      </h4>
      <p class="right-side-content__paragraph">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. <br /><br />

        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
        ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
        eum iure reprehenderit qui in ea voluptate velit esse quam nihil
        molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
        nulla pariatur?
      </p>
      <h3 class="right-side-content__title-h3 title-h3 mt-5 pt-5 mb-5">
        Lorem ipsum dolor sit amet
      </h3>
      <p class="right-side-content__paragraph">
        Еotam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
        magni dolores eos qui ratione voluptatem sequi nesciunt. <br /><br />

        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
        ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
        laboriosam, nisi ut aliquid ex ea commodi consequatur?
      </p>
      <div class="right-side-content__share mt-5 mb-5 pb-5">
        Поделится: <span>Facebook</span>
      </div>
    </div>
  </div>

  <!-- Controls post prev & nex post -->

  <div class="post-controls d-md-flex">
    <a href="#" class="post-controls__prev-post col-md-5">prev post</a>
    <a href="#" class="post-controls__next-post col-md-7"
      ><span>next post</span></a
    >
  </div>
</section>
