<section>
  <div class="filter-apartments inner-container">
    <div
      class="filter-apartments__head-container row align-items-end justify-content-between"
    >
      <h1 class="filter-apartments__title title-h1 mb-0 text-upercase">
        Выбор апартаментов
      </h1>
      <p class="filter-apartments__head-content paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</section>

<!-- Image full width -->

<section>
  <img
    src="../../assets/images/Apartment-filter/A136__full-bg.jpg"
    title=""
    alt=""
  />
</section>

<section>
  <div class="result-table inner-container">
    <div class="result-table__head row align-items-center pt-5 pb-4">
      <div class="result-table__quantity">ПОКАЗАНО КВАРТИР: 250</div>
      <div class="result-table__filter">
        <span class="result-table__filter-title">СОРТИРОВАТЬ</span>
        <select>
          <option>ПО ЦЕНЕ</option>
          <option>ПО КОМНАТАМ</option>
          <option>ПО АКЦИЯМ</option>
        </select>
      </div>
    </div>
    <table>
      <tr>
        <td data-label="Account" class="desc pl-0 text-left">2-05</td>
        <td data-label="Due Date">2 Этаж</td>
        <td data-label="Amount">26.5 м²</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">Двухуровневая квартира</td>
        <td data-label="Period">Квартира стеррасой</td>
        <td data-label="Period">Акция</td>
        <td data-label="Period">2 млн (UAN)</td>
        <td data-label="Period" class="text-right">2 млн (UAN)</td>
      </tr>
      <tr>
        <td scope="row" data-label="Account" class="desc pl-0 text-left">
          2-05
        </td>
        <td data-label="Due Date">2 Этаж</td>
        <td data-label="Amount">26.5 м²</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period" class="text-right">1 Комната</td>
      </tr>
      <tr>
        <td scope="row" data-label="Account" class="desc pl-0 text-left">
          2-05
        </td>
        <td data-label="Due Date">2 Этаж</td>
        <td data-label="Amount">26.5 м²</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period" class="text-right">1 Комната</td>
      </tr>
      <tr>
        <td scope="row" data-label="Acount" class="desc pl-0 text-left">
          2-05
        </td>
        <td data-label="Due Date">2 Этаж</td>
        <td data-label="Amount">26.5 м²</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period">1 Комната</td>
        <td data-label="Period" class="text-right">1 Комната</td>
      </tr>
    </table>

    <!-- Pagination -->

    <div class="pagination">
      <div class="pagination__container">
        <ul class="pagination__list">
          <li class="pagination__item pagination__item__active">
            <a href="">1</a>
          </li>
          <li class="pagination__item"><a href="">2</a></li>
          <li class="pagination__item"><a href="">3</a></li>
          <li class="pagination__item">
            <a href="" class="pagination__dots">......</a>
          </li>
          <li class="pagination__item"><a href="">10</a></li>
          <li class="pagination__item next-page"><a href="">Next page</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Main contact form -->

<section>
  <div class="main-contactForm">
    <div class="inner-container">
      <div class="main-contactForm__row row">
        <div class="main-contactForm__preview-container col-md-5 pt-5 pl-0">
          <img
            src="../../assets/images/home-page/form-contact/A136__form-preview.jpg"
            class="main-contactForm__preview"
            title="A136"
            alt="A136"
          />
        </div>
        <div class="col-md-6">
          <h2 class="title-h2 text-uppercase pl-5 mb-5">
            But I must explain how all to you
          </h2>
          <p class="paragraph offset-md-4 mr-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <form class="contact-form offset-md-4 mr-5">
            <div class="form-group">
              <label for="exampleInputEmail1">Ваше имя</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Ваш телефон</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="form-group mb-5">
              <label for="exampleInputPassword1">Ваш e-mail</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>

            <button type="submit" class="btn link-negative underline-negative">
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
