<section>
  <div class="col-md-11 m-auto" style="margin-top: 200px !important;">
    <div class="row">
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="breadcrumb__main-container">
          <ol class="breadcrumb__list breadcrumb align-items-baseline">
            <li class="breadcrumb__item breadcrumb-item">
              <a href="#">Главная</a>
            </li>
            <li class="breadcrumb__item breadcrumb-item">
              <a href="#">Планировки квартир</a>
            </li>
            <li
              class="breadcrumb__item breadcrumb-item active"
              aria-current="page"
            >
              Выбранная планировка
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-md-6">
        <div class="back-menu">
          <a href="#" class="back-menu__link">
            <span class="back-menu__arrow mr-2">&#60;</span> Вернуться к выбору
            квартир
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="col-md-11 m-auto">
    <div class="row align-items-end pb-5">
      <div class="col-md-8">
        <h1 class="title-h1 text-uppercase">
          Технические <br />
          характеристики <br />
          18-2P
        </h1>
      </div>
      <div class="col-md-4">
        <select class="select-css">
          <option class="text-uppercase">Вид с перегородками</option>
          <option>Вид без перегородок</option>
        </select>

        <ul class="document-layout d-flex justify-content-between mt-5 pl-0">
          <li class="document-layout__element d-flex">
            <a href="" class="document-layout__link">
              <img
                src="../../assets/images/Layout-description/A136__layout-floor.png"
                alt=""
                class="document-layout__icon mr-2"
              />
              ПЛАН ЭТАЖА
            </a>
          </li>
          <li class="document-layout__element d-flex">
            <a href="" class="document-layout__link">
              <img
                src="../../assets/images/Layout-description/A136__layout-floor.png"
                alt=""
                class="document-layout__icon mr-2"
              />
              ПЛАН КВАРТИРЫ</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="technical-overview row">
    <div class="technical-overview__characteristic-container col-md-7 pl-0">
      <div class="technical-overview__chracteristic-preview col-md-11 ml-auto">
        <div class="technical-overview__row row pb-5">
          <div class="technical-overview__single-item col-md-2 d-flex">
            <span class="technical-overview__value">1</span>
            КОМНАТ
          </div>
          <div class="technical-overview__single-item col-md-5 d-flex">
            <span class="technical-overview__value">68.58</span>
            М² ОБЩАЯ ПЛОЩАДЬ
          </div>
          <div class="technical-overview__single-item col-md-5 d-flex">
            <span class="technical-overview__value">23.25</span>
            М² ЖИЛОЙ ПЛОЩАДИ
          </div>
        </div>
      </div>
      <div class="details-container">
        <div class="col-md-11 ml-auto">
          <div class="row pt-5">
            <ul class="details-container__list mt-md-5 pl-0">
              <li class="details-container__item-description">
                10 <span>ЭТАЖ</span>
              </li>
              <li class="details-container__item-description">
                4.55 м² <span>ВАННАЯ КОМНАТА</span>
              </li>
              <li class="details-container__item-description">
                22.56 м² <span>КУХНЯ-ГОСТИННАЯ</span>
              </li>
              <li class="details-container__item-description">
                5.23 м² <span>ПРИХОЖАЯ</span>
              </li>
            </ul>
            <ul class="details-container__list  mt-md-5 pl-0">
              <li class="details-container__item-description">
                22.54 м² <span>СПАЛЬНЯ</span>
              </li>
              <li class="details-container__item-description">
                2.22 м² <span>ГАРДЕРОБ</span>
              </li>
              <li class="details-container__item-description">
                8.2 м² <span>ТЕРАССА</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="room-plan col-md-5">
      <img
        class="room-plan__preview"
        src="../../assets/images/Layout-description/A136__layout-description_preview-room.png"
        alt=""
      />
    </div>
  </div>
</section>

<section>
  <div class="consulting__row row ">
    <div class="consulting__bg col-md-7 pl-0 pr-0">
      <div class="consulting__price-block col-md-11 pt-5 pb-5 ml-auto">
        <span class="consulting__price pr-4">5 882 420</span>(₴) СТОИМОСТЬ
      </div>
    </div>

    <div class="consulting__info-block col-md-5">
      <span class="consulting__info text-uppercase col-md-11 mr-auto"
        >Получить консультацию</span
      >
    </div>
  </div>
</section>
