<section class="head-section">
  <div class="head-section__rectangle"></div>
  <div class="head-section__main-container inner-container ">
    <div class="head-section__section-title row documentation">
      <h1 class="head-section__title title-h1">
        ДОКУМЕНТАЦИЯ
      </h1>
    </div>
    <div class="documentation__row">
      <figure class="documentation__thumbnail col-lg-5">
        <img
          src="./assets/images/Documentation/A136__documentation.jpg"
          class="documentation__featurette-image img-fluid mx-auto h-100"
          title=""
          alt=""
        />
      </figure>
      <ul class="documentation__list list-unstyled col-lg-6">
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p>
            Дозвіл на виконання будівельних робіт виданий Управлінням державного
            архітектурно-будівельного контролю м. Києва № ІУ ‎113190111308 від
            11.01.2019
          </p>
        </li>
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p>
            Дозвіл на виконання будівельних робіт виданий Управлінням державного
            архітектурно-будівельного контролю м. Києва № ІУ ‎113190111308 від
            11.01.2019
          </p>
        </li>
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p>
            Дозвіл на виконання будівельних робіт виданий Управлінням державного
            архітектурно-будівельного контролю м. Києва № ІУ ‎113190111308 від
            11.01.2019
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
