<section class="head-section">
  <div class="head-section__rectangle"></div>
  <div class="head-section__main-container inner-container ">
    <div class="head-section__section-title row documentation">
      <h1 class="head-section__title title-h1">
        {{ getSiteGroup("documentsTitle") | async }}
      </h1>
    </div>
    <div class="documentation__row">
      <figure class="documentation__thumbnail">
        <img
          src="./assets/images/Documentation/A136__documentation.jpg"
          class="documentation__preview"
          title=""
          alt=""
        />
      </figure>
      <ul class="documentation__list list-unstyled col-lg-6">
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p class="paragraph">
            {{ getSiteGroup("documentsParagraph") | async }}
          </p>
        </li>
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p class="paragraph">
            {{ getSiteGroup("documentsParagraphTwo") | async }}
          </p>
        </li>
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p class="paragraph">
            {{ getSiteGroup("documentsParagraphTwo") | async }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
