<section>
  <div class=" col-md-11 m-auto">
    <div class="row">
      <h1 class="single-news__title title-h1 col-md-12 pl-0">
        ДОКУМЕНТАЦИЯ
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="documentation col-md-11 m-auto">
    <div class="row">
      <figure
        class="documentation__thumbnail col-lg-5 col-md-12 col-sm-12 col-xs-12 col-md-5 mr-md-5"
      >
        <img
          src="./assets/images/Documentation/A136__documentation.jpg"
          class="featurette-image img-fluid mx-auto h-100"
          title=""
          alt=""
        />
      </figure>
      <ul
        class="documentation__list list-unstyled col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-0"
      >
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p>
            Дозвіл на виконання будівельних робіт виданий Управлінням державного
            архітектурно-будівельного контролю м. Києва № ІУ ‎113190111308 від
            11.01.2019
          </p>
        </li>
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p>
            Дозвіл на виконання будівельних робіт виданий Управлінням державного
            архітектурно-будівельного контролю м. Києва № ІУ ‎113190111308 від
            11.01.2019
          </p>
        </li>
        <li class="documentation__item pt-5 pb-5">
          <a href="#"
            ><img src="./assets/images/Documentation/A136__pdf-icon.png" alt=""
          /></a>
          <p>
            Дозвіл на виконання будівельних робіт виданий Управлінням державного
            архітектурно-будівельного контролю м. Києва № ІУ ‎113190111308 від
            11.01.2019
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
