.app-land{
  display: flex;
  flex-direction: column;
  height: 100vh;
  // background-image: url("../../assets/images/town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  

  .app-footer {
    margin-top: auto;
  }
}